USE [master]
GO
/****** Object:  Database [BurgerPlus]    Script Date: 01.06.2026 14:14:57 ******/
CREATE DATABASE [BurgerPlus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CafeBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CafeBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BurgerPlus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BurgerPlus]
GO
/****** Object:  Table [dbo].[Cost_Calculatior]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cost_Calculatior](
	[idProduct] [int] NOT NULL,
	[idMaterial] [int] NOT NULL,
	[tip] [nvarchar](5) NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[total] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[inn] [nvarchar](20) NULL,
	[addres] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[saleman] [bit] NULL,
	[buyner] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] NOT NULL,
	[idCustomers] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[tip] [nvarchar](5) NOT NULL,
	[price] [int] NOT NULL,
	[total] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[IdProduct] [int] NULL,
	[IdMaterial] [int] NULL,
	[price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production](
	[id] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[CountProduct] [int] NOT NULL,
	[tipProduct] [nvarchar](5) NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[CountMaterial] [int] NOT NULL,
	[tipMaterial] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Production] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specification]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specification](
	[id] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[tip] [nvarchar](5) NOT NULL,
	[CountMaterial] [int] NOT NULL,
 CONSTRAINT [PK_Specification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 01.06.2026 14:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[IdRole] [nvarchar](1) NOT NULL,
	[is_active] [bit] NULL,
	[failed_attempts] [int] NULL,
	[is_locket] [bit] NULL,
	[lockout_expires] [datetime2](3) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([id], [name], [inn], [addres], [phone], [saleman], [buyner]) VALUES (1, N'ООО "Поставка"', NULL, N'г.Пятигорск', N'79198634592', 1, 1)
INSERT [dbo].[Customers] ([id], [name], [inn], [addres], [phone], [saleman], [buyner]) VALUES (2, N'ООО "Кинотеатр Квант"', N'26320045123', N'г. Железноводск, ул. Мира, 123', N'79884581555', 1, 0)
INSERT [dbo].[Customers] ([id], [name], [inn], [addres], [phone], [saleman], [buyner]) VALUES (3, N'ООО "Ромашка"', N'4140784214', N'г. Омск, ул. Строителей, 294', N'79882584546', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [login], [password], [name], [IdRole], [is_active], [failed_attempts], [is_locket], [lockout_expires]) VALUES (1, N'admin', N'admin', N'Игорь', N'1', 1, 0, 0, NULL)
INSERT [dbo].[user] ([id], [login], [password], [name], [IdRole], [is_active], [failed_attempts], [is_locket], [lockout_expires]) VALUES (2, N'user', N'user', N'Максим', N'2', 1, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[Cost_Calculatior]  WITH CHECK ADD  CONSTRAINT [FK_Cost_Calculatior_Material] FOREIGN KEY([idMaterial])
REFERENCES [dbo].[Material] ([id])
GO
ALTER TABLE [dbo].[Cost_Calculatior] CHECK CONSTRAINT [FK_Cost_Calculatior_Material]
GO
ALTER TABLE [dbo].[Cost_Calculatior]  WITH CHECK ADD  CONSTRAINT [FK_Cost_Calculatior_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Cost_Calculatior] CHECK CONSTRAINT [FK_Cost_Calculatior_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customers] FOREIGN KEY([idCustomers])
REFERENCES [dbo].[Customers] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customers]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Product]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_Material]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_Product]
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [FK_Production_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([id])
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [FK_Production_Material]
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [FK_Production_Product] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [FK_Production_Product]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Material]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Product]
GO
USE [master]
GO
